.tituloHome {
  position: absolute;
  width: 1080px;
  left: calc(50% - 540px);
  top: 100px;
}
.pikaSaludo {
  position: absolute;
  width: 200px;
  bottom: 175px;
  left: 30px;
}
.chansey {
  position: absolute;
  width: 400px;
  bottom: 169px;
  right: -50px;
}

/* Responsive */
@media (max-width: 1200px) {
  .tituloHome {
    width: 90vw;
    left: 5vw;
  }
}
@media (max-width: 777px) {
  .tituloHome {
    width: 96vw;
    left: 2vw;
  }
  .chansey {display: none;}
  .pikaSaludo {left: calc(50% - 125px);}
}