html, body {
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Courier New', Courier, monospace;
}

body {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  margin-top: 54px;
  font-family: Arial, sans-serif;
  transition: background-color 1s ease;
  display: grid;
  grid-template-columns: 1fr 244px;
  grid-template-rows: 125px 1fr 300px;
  overflow: hidden;
}

.jersey-10 { /* Fuente pixelada */
  font-family: "Jersey 10", sans-serif;
  font-style: normal;
}

.imgPokemon {
  max-height: 96px;
  max-width: 96px;
  object-fit: contain;
  overflow: hidden;
}

/* TIENDA */
#tituloTienda {
  grid-area: 1 / 1 / 2 / 3;
  align-self: center;
  text-align: center;
  font-size: 60px;
  margin: 0;
}

/* Contenedor de cartas de pokemon */
#pokemons {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  padding-bottom: 200px;
  gap: 25px;
}

/* Carta pokemon */
.card {
  width: 247px;
  height: 310px;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  transform-style: preserve-3d;
  transition: all 0.2s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border: goldenrod 6px solid;
  color: #000;
}
.card h3 { margin: 0 0 3px; }
.card p { margin: 0; }
.card:hover {transform: translateY(-8px);}
.card a:hover .card h2,
.card a:hover .card p {
  text-decoration: underline;
  cursor: pointer;
  color: orange;
}
.card .frente,
.card .espalda {
  width: 217px;
  height: 290px;
  backface-visibility: hidden;
  position: absolute;
  padding: 10px 15px;
  top: 0;
  left: 0;
}
.botonMeterEnCesta {
  background-color: transparent;
  transition: all 0.3s ease;
  border: 0;
  min-height: 35px;
  min-width: 30px;
  position: absolute;
  right: 5px;
  top: 5px;
}
.contImgPokemon {
  display: flex;
  justify-content: center;
  margin-top: 7px;
  border: goldenrod 2px solid;
  background-color: #ffffff27;
  border-radius: 10px;
}
.contTxtFrente {
  position: absolute;
  bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contTxtEspalda {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  bottom: 5px;
  width: 88%;
}
.frente {
  z-index: 2;
  transition: transform 0.6s linear;
  transform: rotateY(0deg);
}
.espalda {
  opacity: 0;
  transition: transform 0.6s linear;
  transform: rotateY(180deg);
}
.cajaEstadisticas {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 7px;
}
.tipos {
  font-size: 25px;
  position: absolute;
  top: -125px;
  width: 220px;
}
.estadistica {
  display: grid;
  grid-template-columns: 30px 70px;
  text-align: right;
  align-items: center;
}
.estadistica p {font-size: 22px;}
.vuelta {transform: rotateY(180deg);}
#pokemons .vuelta:hover {
  transform: rotateY(180deg) translateY(-8px);
}
.contenedorBarra {
  width: 70px;
  height: 12px;
  border: 1px solid #333;
  margin: 0 0 0 1px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #eee;
  grid-area: 1 / 2 / 2 / 3;
  position: relative;
}
.contenedorBarra p {
  margin: 0px;
  width: 100%;
  max-width: 70px;
  min-height: 10px;
  font-size: small;
  font-weight: bold;
  position: absolute;
  top: -1px;
  z-index: 2;
  text-align: center;
  color: black;
}
.barra {
  height: 100%;
  width: 0%;
  position: absolute;
  left: 0;
  top: 0;
}

/* Equipo lateral */
#equipo {
  position: fixed;
  right: 5px;
  top: 70px;
  min-height: 465px;
  height: calc(100vh - 170px);
  width: 200px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: goldenrod 6px solid;
  background-color: #00000020;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  padding-top: 75px;
  gap: 4px;
}
#numPkmsEquipo {
  font-size: 45px;
  position: fixed;
  right: 80px;
  top: 35px;
  transition: all 0.05s ease-in-out;
}
#total {
  text-align: center;
  width: 160px;
  position: fixed;
  right: 40px;
  top: calc(100vh - 125px);
}
#crearEquipo {
  font-size: 25px;
  position: fixed;
  right: 75px;
  top: calc(100vh - 57px);
}
#eliminarEquipo {
  padding: 0;
  width: 36px;
  height: 36px;
  position: fixed;
  right: 25px;
  top: calc(100vh - 58px);
  background-color: rgb(217, 7, 24);
  border-radius: 7px;
}

/* Pokémon dentro del carrito*/
.pkmEquipo {
  height: 66px;
  grid-template-columns: 68px 58px 1fr;
  align-items: center;
  background-color: #9999993c;
  border: 2px solid black;
  border-radius: 10px;
  position: relative;
  width: 200px;
}
.pkmEquipo .imgPokemon {
  left: -5px;
  position: absolute;
}
.pkmEquipo p {
  right: 55px;
  margin: 25px 0;
  position: absolute;
}
.pkmEquipo button {
  padding: 0;
  width: 36px;
  height: 36px;
  right: 10px;
  margin: 14px 0;
  position: absolute;
  background-color: rgb(217, 7, 24);
  border-radius: 7px;
}
.pkmEquipo button:hover,
#eliminarEquipo:hover {
  background-color: rgb(199, 33, 46);
  transform: translateY(1px);
}
.pkmEquipo button img,
#eliminarEquipo img{
  width: 30px;
  height: 30px;
}

/* Pokeball de carga */
#pokeball {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10%;
}
.girar {
  max-width: 80px;
  max-height: 80px;
  object-fit: contain;
  animation: girar 1s linear infinite;
}
@keyframes girar {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#finTienda {
  position: absolute;
  bottom: -100px;
  display: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  column-gap: 2rem;
  padding: 1rem;
}
#finTienda img {
  min-height: 96px;
  min-width: 96px;
}

/* EQUIPO COMPRADO */
#tituloComprado {
  text-align: center;
  align-self: center;
  margin: 0;
  font-size: 60px;
  grid-area: 1 / 1 / 2 / 3;
}
#comprado {
  grid-area: 2 / 1 / 3 / 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  background-color: #999;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  width: fit-content;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.cardComprado {
  box-sizing: border-box;
  width: 500px;
  height: 250px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.6s ease;
  padding: 0px;
  border-radius: 8px;
  background-color: #FFF;
}
.cardComprado .contenidoCartaComprado p,
.cardComprado .contenidoCartaComprado h3 {
  margin: auto;
  margin-left: 16px;
  margin-bottom: 0;
}
.cardComprado .contenidoCartaComprado {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 168px 80px 226px;
  grid-template-rows: 30px 164px 40px;
  width: 500px;
  height: 250px;
  position: relative;
  transition: all 0.6s ease;
  padding-top: 6px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 16px;
}
.estadisticas {
  grid-area: 2 / 1 / 4 / 3;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  text-align: end;
}
.estadisticas .estadistica p { margin: 0; }
.estadisticas .contenedorBarra p {
  margin-top: 2px;
  max-width: unset;
  font-size: unset;
}
.estadisticas .contenedorBarra {
  height: 18px;
  position: relative;
  grid-column: 2 / 4;
  left: 10px;
  width: 100%;
}
.alturaYpeso {
  margin-top: auto;
  margin-left: 16px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
}
.contenedorGif {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 164px;
  width: 220px;
  margin-left: 20px;
  overflow: hidden;
  transform-style: preserve-3d;
  transition: all 0.6s ease;
}
.cardComprado .contenedorGif {
  grid-area: 2 / 3 / 3 / 4;
}
.gif {
  position: absolute;
  max-height: 164px;
  max-width: 220px;
  height: min-content;
  overflow: hidden;
  object-fit: scale-down;
  object-position: 50% 100%;
}

/* FORMULARIO */
.cajaTitulosForm {
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.tituloForm {
  font-size: 50px;
  margin: 0;
}
.subTituloForm {
  font-size: 40px;
  margin: 0;
}
form {
  grid-area: 2 / 1 / 3 / 3;
  position: relative;
  font-family: Arial, sans-serif;
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
label {
  display: block;
  margin-top: 15px;
}
#btnEnviar {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  background-color: #4caf50;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:disabled {background-color: #aaa;}
.contenedorImgForm {
  display: flex;
  position: absolute;
  bottom: -50px;
  left: -30px;
  width: 517px;
}
.contenedorImgForm img:first-child{
  position: absolute;
  bottom: 0px;
  left: 244px;
}
.parteAbajoForm {
  height: 52px;
  width: 100%;
  margin-top: 82px;
  background: repeat-x
    url('/sources/sprites/seccion_mesa.png')
}

/* NAVBAR */
nav {
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 60px;
  position: fixed;
  box-sizing: border-box;
  background-color: #222;
  font-size: 35px;
  background: repeat-x url("/sources/sprites/back.png");
  color: #000;
  padding: 0;
}
#container {
  width: 37%;
  max-height: 0px;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: all 0s;
  justify-self: right;
  align-items: center;
  margin-top: 39px;
  margin-right: 35px;
  padding: 0;
}
#hamburguesa {
  display: none;
  position: fixed;
  background-color: transparent;
  border: 0;
  right: 10px;
  top: 32px
}
nav ul {
  display: flex;
  gap: 3rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}
nav a:hover {
  text-decoration: underline;
  color: orange;
}
nav svg {
  filter:
  drop-shadow(0 0 2px rgba(255, 255, 255, 0.8));
  transform: rotate(35deg);
  transition: transform 1.5s ease;
}
.simboloNav {
  z-index: 2;
  position: fixed;
  margin: 0 50% 0 50%;
  top: 0px;
  left: -36px;
}
.oscuro {
  background-color: #333;
  color: white;
}

/* Animación de error */
@keyframes error {
  0% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  100% { transform: translateX(-5px); }
}

/* Modal de advertencia */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #fff;
  color: #000;
  margin: 5% auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  position: relative;
  animation: fadeIn 0.5s ease-in-out;
}

.closeX {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  color: #333;
  cursor: pointer;
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(-20px);}
  to {opacity: 1; transform: translateY(0);}
}

.error {
  color: red;
  animation-name: error;
  animation-timing-function: linear;
  animation-iteration-count: 6;
  animation-duration: 0.2s;
  transition: all 0.05s ease-in-out;
}
@keyframes error {
  0% {transform: translateX(-5px);
  } 50% {transform: translateX(5px);
  } 100% {transform: translateX(-5px);}
}

/* Responsive */
@media (max-width: 1555px) {
  #comprado {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  #tituloTienda {
    margin-top: 20px;
    grid-area: 1 / 1 / 1 / 1;
    font-size: 50px;
  }
}

@media (max-width: 1053px) {
  #comprado {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
  html {overflow-y: visible;}
  #tituloTienda {
    padding-left: 2rem;
    padding-right: 2rem;
    text-wrap-style: balance;
    margin-top: 20px;
    grid-area: 1 / 1 / 1 / 1;
    font-size: 40px;
  }
  #finTienda {bottom: -150px;}
}

/* Para móviles */
@media (max-width: 777px) {
  #tituloTienda {
    padding-left: 2rem;
    padding-right: 2rem;
    text-wrap-style: balance;
    margin-top: 20px;
    grid-area: 1 / 1 / 1 / 3;
    font-size: 40px;
  }
  #pokemons {
    grid-area: 2 / 1 / 3 / 3;
    padding-right: 20px;
    padding-bottom: 650px;
  }
  #hamburguesa {display: block;}
  #finTienda {
    flex-direction: column;
    bottom: 100px;
  }
  #container {
    box-sizing: border-box;
    position: fixed;
    z-index: 10;
    top: 40px;
    right: 10px;
    width: 150px;
    background-color: rgb(207, 18, 34);
    transition: max-height 0.6s ease;
    flex-direction: column;
    align-content: center;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
    max-height: 0;
    border: 0;
    margin: 0;
  }
  #container a {
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;
  }
  #container a:hover {
    background-color: rgb(170, 14, 27);
  }
  #container a:first-child {padding-top: 5px;}
  #container a:nth-child(2) {background-color: rgb(194, 9, 25);}
  #container a:last-child {
    background-color: rgb(194, 9, 25);
    padding-bottom: 5px;
  }
  #equipo {
    top: unset;
    right: unset;
    left: 5px;
    bottom: -10px;
    min-height: 75px;
    height: fit-content;
    width: calc(100vw - 33px);
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-start;
    padding: 10px 10px 60px 10px;
    padding-top: 10px;
    background-color: rgb(207, 18, 34);
  }
  .pkmEquipo {width: 170px;}
  #numPkmsEquipo {
    font-size: 40px;
    z-index: 30;
    right: calc(100vw - 120px);
    top: -22px;
  }
  #total {
    left: 15px;
    top: calc(100vh - 75px);
  }
  #crearEquipo {
    right: 60px;
    top: calc(100vh - 51px);
  }
  #eliminarEquipo {
    right: 20px;
    top: calc(100vh - 53px);
  }
}
