<!-- footer.html -->
<footer class="jersey-10">
  <div class="footer-col">
    <p style="width: 170px;">Sobre mi:</p>
    <ul>
      <li><a href="https://mail.google.com/mail/u/0/?tf=cm&source=mailto&to=andres1210.alp@gmail.com" target="_blank">Gmail 
        <img src="sources/correo.png" style="position: absolute; height: 22px; right: 40px; top: 2px;"></a></li>
      <li><a href="https://github.com/Arsorta37" target="_blank">GitHub
        <img src="sources/github.png" style="position: absolute; height: 22px; right: 30px;"></a></li>
      <li><a href="https://mi-primer.netlify.app/" target="_blank">Primera web</a></li>
    </ul>
  </div>
  <div class="footer-col">
    <p style="padding-left: 20px;">Elementos externos:</p>
    <ul>
      <li><a href="https://pokeapi.co/" target="_blank">PokéAPI 
        <img src="sources/Poke_pixelada.png" style="position: absolute; height: 28px; right: 87px; top: -2px;"></a></li>
      <li><a href="https://www.deviantart.com/chaoticcherrycake/art/Pokemon-Tileset-From-Public-Tiles-358379026" target="_blank">Tilsets usados</a></li>
    </ul>
  </div>
</footer>