<nav>
  <img src="sources/sprites/pokeheader.png" class="simboloNav" alt="Decoración" id="decoracion" draggable="false">
  <button id="hamburguesa">
    <img src="sources/hamburguesa.png" style="height: 30px;">
  </button>
  
  <div id="container">
    <p class="jersey-10" id="home">Home</p>
    <p class="jersey-10" id="shop">Shop</p>
    <p class="jersey-10" id="team">Team</p>
    <p class="jersey-10" id="form">Form</p>
  </div>

  <div id="bombilla">
    <img src="sources/lunatone_icon.png" id="apagada">
    <img src="sources/solrock_icon.png" id="encendida">
    </svg>
  </div>
</nav>